{
	"Logging": {
		"LogLevel": {
			"Default": "Information",
			"Microsoft.AspNetCore": "Warning"
		}
	},
	"AllowedHosts": "*",
	"ConnectionStrings": {
		"DefaultConnection": "YOUR_CONNECTION_STRING"
	},
	"Telegram": {
		"BotToken": "YOUR_TELEGRAM_BOT_TOKEN",
		"WebhookSecret": "YOUR_WEBHOOK_SECRET"
	},
	"Cron": {
		"ApiKey": "YOUR_CRON_API_KEY"
	}
}